<div class="container-fluid mt-5">
  <h1>Wer ist Mensariono?</h1>
  <p>Mit „Mensarino“ bieten wir unseren Nutzern eine intuitive und schnelle Lösung, im stressigen Uni-Alltag die
    Übersicht zu behalten und nicht unnötig Zeit mit der Beschaffung von Informationen rund um die Mensa zu vergeuden.
    Durch Mensarino erlangt jeder Nutzer schnell und unkompliziert Kenntnis über beispielsweise die Gerichtauswahl des
    jeweiligen Tages, die Preise, Öffnungszeiten, den Standort und vielem mehr. Man kann nicht nur verschiedene Mensen
    präferieren sondern sich auch täglich dazu benachrichtigen lassen. Mensarino ist im Auftrag des Landes für die
    soziale, gesundheitliche, wirtschaftliche und kulturelle Betreuung der Studierenden in zuständig. <br> Wir von Mensarino
    versuchen uns stetig zu verbessern um so unseren Nutzern den größtmöglichen Komfort zu bieten. Falls Sie daher
    Anregungen oder Verbesserungsvorschläge haben, senden Sie uns einfach eine Mail an support@mensarino.de.
    <br>
    <br>
    Ihr Team von Mensarino</p>
