<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="mensen-container">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <app-mensen (mensaSelected)="useMensaSelected($event)"></app-mensen>
    <mat-expansion-panel-header class="specific-class">
      <mat-panel-title class="justify-content-start">
        <mat-icon aria-hidden="false" aria-label="Example home icon" color="accent">favorite</mat-icon>
        <span class="title-center"> {{mensaSelectedName}}</span></mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</div>
<div class="mensen">
  <mat-toolbar class="mat-elevation" color="primary">
    <button mat-icon-button aria-label="chevron_left">
      <mat-icon (click)="dateBack()">chevron_left</mat-icon>
    </button>
    <span class="title-center">
{{date.toLocaleString('de', {weekday: 'long'}) + ' - '}}{{date | date:'dd.MM.yyyy'}} </span>
    <button mat-icon-button aria-label="chevron_right">
      <mat-icon (click)="dateForward()">chevron_right</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div *ngIf="keineGerichte">
  <div *ngIf="!panelOpenState" class="container d-flex h-100">
    <div class="mx-auto mt-5">
      <mat-icon class="icon-size mr-5" aria-label="Example home icon">sentiment_dissatisfied
      </mat-icon>
    </div>
  </div>
</div>
<div *ngIf="!keineGerichte">
  <div *ngIf="!panelOpenState" class="mx-3">
    <app-gerichte-item *ngFor="let gericht of gerichte"
                       [gerichtItem]="gericht"></app-gerichte-item>
  </div>
</div>
