<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="mensen-container">
  <div class="yolo">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <app-mensen (mensaSelected)="doSomething($event)"></app-mensen>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon aria-hidden="false" aria-label="Example home icon" color="accent">home</mat-icon>
            <span class="mr-3"></span> {{mensaSelected}}
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
</div>
</div>
<div class="mensen">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="chevron_left">
      <mat-icon (click)="dateBack()">chevron_left</mat-icon>
    </button>
    <span class="title-center">
{{date.toLocaleString('de', {weekday: 'long'}) + ' - '}}{{date | date:'dd.MM.yyyy'}} </span>
    <button mat-icon-button aria-label="chevron_right">
      <mat-icon (click)="dateForward()">chevron_right</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div *ngIf="!panelOpenState">
  <app-gerichte-item *ngFor="let gericht of gerichte"
                     [gerichtItem]="gericht"></app-gerichte-item>
</div>

