.title-center {
  flex: 1 1 auto;
  text-align: center;
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-button {
  outline: none;
  border: 0;
}

.mat-expansion-panel {
  position: sticky;
  z-index: 1;
}
.mat-expansion-panel-header{
  position: fixed;
  z-index: 5;
  height: 64px !important;
  background-color: lightskyblue !important;
  justify-content: center;
  width: 100%;
}
.mensen-container{
  padding-bottom: 64px;
}
.mat-toolbar{
  position: fixed;
  z-index: 5;
}
.example-card{
  z-index: 1;
}
.mensen{
  margin-bottom: 75px;
}
.mat-panel-description{
  height: auto;
}







