.color{
  color: green;
}
.mat-card-title{
  font-size: 18px;
}
.mat-card-subtitle{
  font-size: 14px;
  margin-right: -30px;
}
.mat-card-header{
  margin-left: -10px;

}
.stylingMenu{
  styleName: Overline;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-align: left;

}
.dot-end {
  margin-left: auto;
}
.left{
  padding-left: 6px;
}
mat-chip{
  background-color: 	#3CB371 !important;
  font-size: 12px;
}
