<div class="fave d-flex">
  <div class="ml-2 my-auto">Deine Mensafavoriten</div>
</div>

<div class="container">
  <mat-chip-list>
    <div class="col-12 pt-3">
      <mat-chip selected color="primary" #chipList *ngFor="let option of favorite | keyvalue" [removable]="true"
                (removed)="remove(option)">{{option.value}}
        <mat-icon matChipRemove class="mx-1">cancel</mat-icon>
      </mat-chip>
    </div>
  </mat-chip-list>
</div>

<div class="fave d-flex justify-content-between mt-5">
  <div class="ml-2 my-auto">Benachrichtungen</div>
  <div class="mr-2 my-auto">

    <mat-slide-toggle [checked]="isChecked" (change)="onChange($event)"></mat-slide-toggle>

  </div>
</div>
<div class="container-fluid mt-2">
  <mat-icon>info</mat-icon>
  <p class="sizeFont">Täglich um 9 Uhr bekommst du eine Benachrichtung zu deiner Lieblingsmensa!</p></div>


