agm-Map{
  height: 420px;
}
.mat-toolbar-row{
  overflow: hidden;
  z-index: 10;
  position: fixed;
  background-color: #6200ea !important;
  color: white; font-family: 'Source Sans Pro', sans-serif; font-size: 20px; font-weight: 300; line-height: 32px;
  z-index: 10;
  position: fixed;
  width: 100%;
  background-size: cover;
  margin-top: -2px;
}
.alert{
  width: 45%;
  margin: auto;

}
.mat-expansion-panel-header{
  position: fixed;
  height: 64px !important;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  color: white;
  margin-top: -5px;
  width: 101%;

}

.header {
  background-color: #6200ea !important;
  color: white;
   font-size: 18px; font-weight: 300;
}
.mat-expansion-panel-header-title{
  color: white;
  font-size: 18px; font-weight: 300;
  margin-left: 16px;

}
.header:hover {
  background-color: #6200ea !important;

}
