<mat-sidenav-container class="sidenav-container ">
  <mat-sidenav
    #drawer class="sidenav"
    [ngClass]="{hidden: !(isHandset$ | async)}"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="mensarino-font mb-5"><img src="assets/icons/icon-72x72.png" class="logo-size-top mr-4">Mensarino
    </mat-toolbar>
    <mat-nav-list>
      <a routerLink="/gerichte" mat-list-item (click)="setTitle( 'Speiseplan' )">Speiseplan</a>
      <a routerLink="/praeferenzen" mat-list-item (click)="setTitle( 'Präferenzen' )">Präferenzen </a>
      <a routerLink="/about" mat-list-item (click)="setTitle( 'Über uns' )">Über Uns</a>
      <a routerLink="/impressum" mat-list-item (click)="setTitle( 'Impressum' )">Impressum</a>
      <a routerLink="/hilfe" mat-list-item (click)="setTitle( 'Hilfe' )">Hilfe</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <span class="favor my-auto ml-2">{{title}}</span>
      <div class="spacer"><a mat-button routerLink="/gerichte"><img src="assets/icons/icon-72x72.png" class="logo2 my-1"(click)="setTitle( 'Speiseplan' )"></a></div>
      <div class="ml-auto"  routerLink="/direction" (click)="setTitle( 'Wegweiser' )">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button>
          <mat-icon class="icon-s"> directions</mat-icon>
        </button>
      </div>


      <span *ngIf="!(isHandset$ | async)">
          <a routerLink="/gerichte" routerLinkActive="active_route" class="px-4">Speiseplan</a>
        <a routerLink="/mensen" routerLinkActive="active_route" class="px-4">Mensen</a>
          <a routerLink="/about" routerLinkActive="active_route">About</a>
      </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
