<mat-sidenav-container class="sidenav-container ">
  <mat-sidenav
    #drawer class="sidenav"
    [ngClass]="{hidden: !(isHandset$ | async)}"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="mensarino-font mb-5"><img src="assets/icons/icon-72x72.png" class="logo-size-top mr-4">Mensarino
    </mat-toolbar>
    <mat-nav-list>
      <a routerLink="/gerichte" mat-list-item>Speiseplan</a>
      <a mat-list-item>Einstellungen</a>
      <a routerLink="/about" mat-list-item>Über Uns</a>
      <a mat-list-item>Impressum</a>
      <a mat-list-item>Hilfe</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="logo">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>

      <span class="favor">Speiseplan</span>
      <div class="mx-auto">
        <img src="assets/icons/icon-72x72.png" class="logo-size"></div>
      <span class="favo">Favoriten</span>
      <mat-icon aria-label="Side nav toggle icon" class="ml-2">search</mat-icon>

      <span *ngIf="!(isHandset$ | async)">
          <a routerLink="/gerichte" routerLinkActive="active_route" class="px-4">Speiseplan</a>
        <a routerLink="/mensen" routerLinkActive="active_route" class="px-4">Mensen</a>
          <a routerLink="/about" routerLinkActive="active_route">About</a>
      </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
