.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.favor {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

.mensarino-font {
  font-size: 24px !important;
  font-style: normal !important;
}

.logo-size-top {
  width: 20%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 5;
  height: 60px !important;
}
.icon-s.material-icons{
  font-size: 32px !important;
  width: 32px !important;
}
.hidden {
  display: none;
}

.spacer {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  margin-left: 13px;
}

.logo2 {
  width: 80%;
}

mat-toolbar a {
  display: inline-block;
  color: white;
}

mat-list:hover {
  cursor: pointer;
}

.active_route {
  text-decoration: underline;
}


